body{
	margin:0;

	background:url("./backwall.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.myContainer{
	width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
	
	position: absolute;
	top: 40%;
	left: 30%;
	z-index: 1;
	

}
.hindHeadline{
	font-family: 'Hind', sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: red;
}
#typed, .typed-cursor{
	font-size: 40px;
	font-weight: bold;
	color: white;
	font-family: sans-serif;
}

#typedStrings{
	color:rgb(129, 32, 100);
}


